html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation{
	width:100%;
	height:8em;
	background-color:  #fff;
	position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin-top: 55px ;
    margin-left: 200px;
}
.content >img{
	width:2.2em;
	height: 2.6em;
	margin-left: 5em;
	margin-top: 1em;
}


.content .links{
    list-style-type: none;
	float: right;
	margin-right: 4em;
	margin-top: 1.5em;
	font-family: 'Roboto', sans-serif;
font-size: 17px;
color: #838994;
letter-spacing: 0.03em;
-webkit-font-smoothing: antialiased;

}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;

}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
a:hover {
    color:black;
}

.introduction{
	background-image: url("http://i1308.photobucket.com/albums/s611/neelambika11/first-background%20copy_zpspxdffihi.jpg" );
    background-size: cover;
	background-repeat: no-repeat;
	height: 560px;
	background-position: center bottom;
	margin-top: -55px;
}
.introduction .content{
	color: white;
	padding-top: 10.5em;
	padding-left: 28em;
    font-family: 'Roboto', sans-serif;
    
    -webkit-font-smoothing: antialiased;

}
.introduction h1 {
    margin-top: .5rem;
    font-size: 3.125rem;
    font-weight: 300;
}   
.introduction h3 {
    margin-top: -.9em;
    font-size: 1.563rem;
    font-weight: 300;
    margin-left: -.5em;
}
 button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    width: 9.688rem;
    font-size: 1.2em;
    margin-left: 6.5em;
}
button:hover{
	background-color: #d9400e;
}


.cases .content{
	
}
.cases h2 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
    
    -webkit-font-smoothing: antialiased;
    margin-top: 3em;
}
cases img{
	width: 70px;
	height:80px;
}

.cases ul{
	list-style-type: none;
	margin-left:21em;
}
.cases ul>li {
    
    text-align: -webkit-match-parent;
    display: inline-block;
    height: 4em;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
   
}
.captiom{
	margin-left: -3.5em;
	margin-right: 3.3em;
}
.social{
	text-align: center;
	margin-bottom: 10em;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .icons{
	margin-left: -2em;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    margin-top: -2em;
    margin-bottom: -.1em;

}
.social .fa fa-twitter {
    color: #55acee;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin-top: 9em;
   width: 45em;
}
 h5 {
	font-weight: 400;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
    
    -webkit-font-smoothing: antialiased;
}
.copy{
	margin-top: -2em;
	margin-left: 2em;
	font-family: 'Roboto', sans-serif;
    
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

